[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
pydantic-sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
fastapi = "==0.79.0"
redis = "==4.3.4"
isort = "==5.10.1"

[dev-packages]
flake8 = "==5.0.0"

[requires]
python_version = "3.9"
